@media screen and (min-width:350px) and (max-width:480px) {      
    .card-1 {
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        border: 1px solid #e6e6e6;
    }
      
    .card-1:hover {
        box-shadow: 0 1px 3px rgb(192, 192, 192), 0 1px 2px rgb(192, 192, 192);
    }
    
    .menu-img img{
        width: 55%;
        display: flex;
        margin: auto;
        margin-top: 80%;
    }
    
    .img-card1 {
        background: #ffffff;
        box-shadow: 0 1px 3px rgb(192, 192, 192), 0 1px 2px rgb(192, 192, 192);
        border-radius: 10px;
        margin: 1rem;
        margin-top: 20px;
        position: absolute;
        right: 30px;
        height: 15%;
        width: 70px;
        top: 0;
        text-align: center;
        font-weight: 600;
        font-size: small;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    .img-card2 {
        background: #ffffff;
        box-shadow: 0 1px 3px rgb(192, 192, 192), 0 1px 2px rgb(192, 192, 192);
        border-radius: 10px;
        margin: 1rem;
        margin-top: 20px;
        position: absolute;
        right: 30px;
        height: 15%;
        width: 70px;
        text-align: center;
        font-weight: 600;
        font-size: small;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    .img-card3 {
        background: #ffffff;
        box-shadow: 0 1px 3px rgb(192, 192, 192), 0 1px 2px rgb(192, 192, 192);
        border-radius: 10px;
        margin: 1rem;
        margin-top: 20px;
        position: absolute;
        right: 30px;
        height: 15%;
        width: 70px;
        text-align: center;
        font-weight: 600;
        font-size: small;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    .img-card4 {
        background: #ffffff;
        box-shadow: 0 1px 3px rgb(192, 192, 192), 0 1px 2px rgb(192, 192, 192);
        border-radius: 10px;
        margin: 1rem;
        margin-top: 20px;
        position: absolute;
        right: 30px;
        height: 15%;
        width: 70px;
        text-align: center;
        font-weight: 600;
        font-size: small;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .img-card5 {
        background: #ffffff;
        box-shadow: 0 1px 3px rgb(192, 192, 192), 0 1px 2px rgb(192, 192, 192);
        border-radius: 10px;
        margin: 1rem;
        margin-top: 20px;
        position: absolute;
        right: 30px;
        height: 15%;
        width: 70px;
        text-align: center;
        font-weight: 600;
        font-size: small;
        align-items: center;
        justify-content: center;
        display: flex;
    }

      
    .card-1 {
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        border: 1px solid #e6e6e6;
    }
      
    .card-1:hover {
        box-shadow: 0 1px 3px rgb(192, 192, 192), 0 1px 2px rgb(192, 192, 192);
    }
    
    .menu-img img{
        width: 55%;
        display: flex;
        margin: auto;
        margin-top: 80%;
    }
}

@media screen and (max-width:376px){  
    .card {
        background: #fff;
        border-radius: 10px;
        display: inline-block;
        height: 31%;
        margin: 35rem 1rem 0 0;
        width: 34px;
        position: fixed;
        top: 0;
        right: 0;
    }

    .user-bio-img {
        width: 60%;
        height: 225px;
        object-fit: cover;
        display: block;
        margin: auto;
    }
}

@media screen and (min-width:377px) and (max-width:392px){  
    .card {
        background: #fff;
        border-radius: 10px;
        display: inline-block;
        height: 29.2%;
        margin: 35rem 1rem 0 0;
        width: 34px;
        position: fixed;
        top: 0;
        right: 0;
    }

    .user-bio-img {
        width: 60%;
        height: 225px;
        object-fit: cover;
        display: block;
        margin: auto;
    }
}

@media screen and (min-width:392px) and (max-width:450px){  
    .card {
        background: #fff;
        border-radius: 10px;
        display: inline-block;
        height: 34%;
        margin: 35rem 1rem 0 0;
        width: 34px;
        position: fixed;
        top: 0;
        right: 0;
    }

    .user-bio-img {
        width: 60%;
        height: 225px;
        object-fit: cover;
        display: block;
        margin: auto;
    }
}

@media screen and (min-width:1023px) {
    .card-1 {
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        border: 1px solid #e6e6e6;
    }
      
    .card-1:hover {
        box-shadow: 0 1px 3px rgb(192, 192, 192), 0 1px 2px rgb(192, 192, 192);
    }
    
    .menu-img img{
        width: 55%;
        display: flex;
        margin: auto;
        margin-top: 80%;
    }
    
    .img-card1 {
        background: #ffffff;
        box-shadow: 0 1px 3px rgb(192, 192, 192), 0 1px 2px rgb(192, 192, 192);
        border-radius: 10px;
        margin: 1rem;
        margin-top: 20px;
        position: absolute;
        right: 30px;
        height: 15%;
        width: 70px;
        top: 0;
        text-align: center;
        font-weight: 600;
        font-size: smaller;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    .img-card2 {
        background: #ffffff;
        box-shadow: 0 1px 3px rgb(192, 192, 192), 0 1px 2px rgb(192, 192, 192);
        border-radius: 10px;
        margin: 1rem;
        margin-top: 20px;
        position: absolute;
        right: 30px;
        height: 15%;
        width: 70px;
        text-align: center;
        font-weight: 600;
        font-size: smaller;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    .img-card3 {
        background: #ffffff;
        box-shadow: 0 1px 3px rgb(192, 192, 192), 0 1px 2px rgb(192, 192, 192);
        border-radius: 10px;
        margin: 1rem;
        margin-top: 20px;
        position: absolute;
        right: 30px;
        height: 15%;
        width: 70px;
        text-align: center;
        font-weight: 600;
        font-size: smaller;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    .img-card4 {
        background: #ffffff;
        box-shadow: 0 1px 3px rgb(192, 192, 192), 0 1px 2px rgb(192, 192, 192);
        border-radius: 10px;
        margin: 1rem;
        margin-top: 20px;
        position: absolute;
        right: 30px;
        height: 15%;
        width: 70px;
        text-align: center;
        font-weight: 600;
        font-size: smaller;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .card {
        background: #fff;
        border-radius: 10px;
        display: block;
        height: 42%;
        margin: 15rem 1rem 0 0;
        width: 35px;
        position: fixed;
        top: 0;
        right: 0;
    }
      
    .card-1 {
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        border: 1px solid #cbc8c8;
    }
      
    .card-1:hover {
        box-shadow: 0 1px 3px rgb(154, 154, 154), 0 1px 2px rgb(192, 192, 192);
    }
    
    .menu-img img{
        width: 80%;
        display: flex;
        margin: auto;
        margin-top: 80%;
    }
    
    .img-card1 {
        background: #ffffff;
        box-shadow: 0 1px 3px rgb(192, 192, 192), 0 1px 2px rgb(192, 192, 192);
        border-radius: 10px;
        margin: 1rem;
        margin-top: 20px;
        position: absolute;
        right: 30px;
        height: 15%;
        width: 70px;
        top: 0;
        text-align: center;
        font-weight: 600;
        font-size: smaller;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    .img-card2 {
        background: #ffffff;
        box-shadow: 0 1px 3px rgb(192, 192, 192), 0 1px 2px rgb(192, 192, 192);
        border-radius: 10px;
        margin: 1rem;
        margin-top: 20px;
        position: absolute;
        right: 30px;
        height: 15%;
        width: 70px;
        text-align: center;
        font-weight: 600;
        font-size: smaller;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    .img-card3 {
        background: #ffffff;
        box-shadow: 0 1px 3px rgb(192, 192, 192), 0 1px 2px rgb(192, 192, 192);
        border-radius: 10px;
        margin: 1rem;
        margin-top: 20px;
        position: absolute;
        right: 30px;
        height: 15%;
        width: 70px;
        text-align: center;
        font-weight: 600;
        font-size: smaller;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    .img-card4 {
        background: #ffffff;
        box-shadow: 0 1px 3px rgb(192, 192, 192), 0 1px 2px rgb(192, 192, 192);
        border-radius: 10px;
        margin: 1rem;
        margin-top: 20px;
        position: absolute;
        right: 30px;
        height: 15%;
        width: 70px;
        text-align: center;
        font-weight: 600;
        font-size: smaller;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .img-card5 {
        background: #ffffff;
        box-shadow: 0 1px 3px rgb(192, 192, 192), 0 1px 2px rgb(192, 192, 192);
        border-radius: 10px;
        margin: 1rem;
        margin-top: 20px;
        position: absolute;
        right: 30px;
        height: 15%;
        width: 70px;
        text-align: center;
        font-weight: 600;
        font-size: smaller;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}


