@media screen and (min-width:350px) and (max-width:480px) {
    .menu-container {
        display: flex;
        align-items: center;
        gap: 15px;
        position: fixed;
        bottom: 0%;
        right: 25px;
        transform: translateY(-50%);
        z-index: 1000;
    }

    .menu-item {
        width: 55px;
        height: 55px;
        background-color: rgb(228, 228, 228);
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        transition: all 0.1s ease;
        border: 0.7px solid rgb(204, 204, 204);
    }

    .menu-item img {
        width: 26px;
        height: 26px;
        transition: all 0.1s ease;
    }

    /* Hover efekti (masaüstü için) */
    .menu-item:hover {
        background-color: #000;
    }

    .menu-item:hover img {
        filter: brightness(0) invert(1);
    }

    /* Yazı kutusu */
    .menu-item .label {
        position: absolute;
        bottom: 70px;
        opacity: 0;
        color: #ffffff;
        background-color: rgb(0, 0, 0);
        border-radius: 6px;
        padding: 6px 10px;
        font-size: 12px;
        font-weight: 600;
        white-space: nowrap;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        transition: all 0.1s ease;
        pointer-events: none;
    }

    /* Hover olduğunda masaüstünde görünür */
    .menu-item:hover .label {
        opacity: 1;
    }

    /* Tıklanınca aktif (mobilde kalıcı) */
    .menu-item.active {
        background-color: #000;
    }

    .menu-item.active img {
        filter: brightness(0) invert(1);
    }

    .menu-item.active .label {
        opacity: 1;
    }
}

@media screen and (min-width:392px) and (max-width:450px) {

    .menu-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        position: fixed;
        top: 50%;
        right: 25px;
        transform: translateY(-50%);
        z-index: 1000;
    }

    .menu-item {
        width: 55px;
        height: 55px;
        background-color: rgb(228, 228, 228);
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        transition: all 0.3s ease;
        border: 0.7px solid rgb(204, 204, 204);
    }

    .menu-item img {
        width: 24px;
        height: 24px;
        transition: all 0.3s ease;
    }

    /* Hover efekti */
    .menu-item:hover {
        background-color: #000;
    }

    .menu-item:hover img {
        filter: brightness(0) invert(1);
    }

    /* Yazı efekti */
    .menu-item .label {
        position: absolute;
        right: 70px;
        opacity: 0;
        color: #ffffff;
        background-color: rgb(0, 0, 0);
        border-radius: 6px;
        padding: 6px 10px;
        font-size: 12px;
        font-weight: 600;
        white-space: nowrap;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        transition: all 0.3s ease;
        pointer-events: none;
    }

    /* Hover olunca yazı görünür */
    .menu-item:hover .label {
        opacity: 1;
        transform: translateX(5px);
    }

    /* Aktif olan menü */
    .menu-item.active {
        background-color: #000;
    }

    .user-bio-img {
        width: 60%;
        height: 225px;
        object-fit: cover;
        display: block;
        margin: auto;
    }
}

@media screen and (min-width:1023px) {
    .menu-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        position: fixed;
        top: 50%;
        right: 25px;
        transform: translateY(-50%);
        z-index: 1000;
    }

    .menu-item {
        width: 55px;
        height: 55px;
        background-color: rgb(228, 228, 228);
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        transition: all 0.3s ease;
        border: 0.7 solid rgb(204, 204, 204);
    }

.menu-item img {
        width: 26px;
        height: 26px;
        transition: all 0.1s ease;
    }

    /* Hover efekti (masaüstü için) */
    .menu-item:hover {
        background-color: #000;
    }

    .menu-item:hover img {
        filter: brightness(0) invert(1);
    }

    /* Yazı kutusu */
    .menu-item .label {
        position: absolute;
        right: 70px;
        opacity: 0;
        color: #ffffff;
        background-color: rgb(0, 0, 0);
        border-radius: 6px;
        padding: 6px 10px;
        font-size: 12px;
        font-weight: 600;
        white-space: nowrap;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        transition: all 0.1s ease;
        pointer-events: none;
    }

    /* Hover olduğunda masaüstünde görünür */
    .menu-item:hover .label {
        opacity: 1;
    }

    /* Tıklanınca aktif (mobilde kalıcı) */
    .menu-item.active {
        background-color: #000;
    }

    .menu-item.active img {
        filter: brightness(0) invert(1);
    }

    .menu-item.active .label {
        opacity: 1;
    }
}